*{
  background-color: #0f1a41;
  box-sizing: border-box;
  border: 0;
  padding: 0;
}


/* header */
.img-icon{
  background-color: lightslategrey;
  color: whitesmoke;
  width: 375;
  padding: 0 0;
}

/* main */


/* footer */