*{
  background-color: #F3F5FC;
  box-sizing: border-box;
  border: 0;
  padding: 0;
}


/* header */
.img-icon{
  color: #0A3871;
  font-size: 78px;
  padding: 0 0;
  margin: 0 0;
  margin-left: 25px;
}

/* main */
main{
  display: flex;
  margin-bottom: 50px;
  margin-left: 88px;
}

main section .text-area{
  border: none;
  color: #0A3871;
  margin-top: 50px;
  text-transform: lowercase;
}

.text-area::placeholder{
  color: #0A3871;
}
.text-area:focus{
  outline: none;
}

main section div {
  display: flex;
  align-items: center;
}

main section div span{
  background-color: black;
    color: white;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 9px;
}
.consideraciones{
  color: #495057;
  font-weight: 400;
  padding-left: 15px;
}
.buttons{
  display: flex;
  margin-top: 18px;
}
.button-encriptar{
  background-color: #0A3871;
  border: 1px solid #0A3871;
  border-radius: 24px;
  color: white;
  cursor: pointer;
  height: 67px;
  width: 328px;
  margin: 0 10px;
}
.button-desencriptar{
  background-color: #D8DFE8;
  border: 1px solid #0A3871;
  border-radius: 24px;
  color: #0A3871;
  cursor: pointer;
  height: 67px;
  width: 328px;
  margin: 0 10px;
}

.button-copy{
  border: 1px solid #0A3871;
  border-radius: 24px;
  color: #0A3871;
  cursor: pointer;
  height: 67px;
  width: 328px;
  margin-left: 178px;
  display: block;
  position: absolute;
  bottom: 198px;
}
.text-menssage{
  background-color: white;
  border: none;
  border-radius: 12px;
  color: #0A3871;
  margin-left: 98px;
  margin-top: 20px;
  padding-left: 20px;
  position: fixed;
}
.text-menssage::placeholder{
  color: #0A3871;
}
.text-menssage:focus{
  outline: none;
}
/* footer */